#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top:0;
    width: 800px;
    margin-top: 60px;
    z-index: 10!important;
    transform: translateX(-800px);
    transition: transform 2s ease-in-out;
}
.openSidebarMenu {
    position: fixed;
    /* left: 0; */
    float:right;
    transform: translateX(0);
    transition: transform 2s ease-in-out;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type="checkbox"]:checked {
    transform: translateX(800px);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transform: translateX(0);
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
    position: fixed;
}
label.sidebarIconToggle > div.hamspin {
    display:block;
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: #000;
    color: #000;
    -webkit-tap-highlight-color:#000;
    z-index:100;
    font-family:system-ui;
    font-size:10px;
    line-height:15px;
    text-align:start;
    letter-spacing:normal!important;
}
.horizontal {
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 9px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle {
  transform: translateX(800px);
    transition: all 2s ease-in-out;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 2s ease-in-out;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -3px;
}
.slider-bar {
  display:none!important;
}

.carousel-indicators {
  z-index: 12!important;
}

.carousel-control {
  z-index: 12!important;
}

.carousel-panel {
  height: 500px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

div.carousel-caption > h2 {
    font-family:Impact;
    font-weight:bold;
}

div.carousel-caption > span {
    font-family:"Times New Roman";
    font-style:italic;
}
