.openSidebarMenu
{
  display: hidden;
}

.sidebarIconToggle
{
  display: hidden;
}

.menu
{
  height: auto;
  position:fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align:center;
  font-size:20px;
  color:white;
  transform: translateY(500px);
  transition:transform 500ms ease-in-out;
  z-index: 10!important;
}

.slider-bar
{
  width:100%;
  height:50px;
  background-color: #999;
  opacity:0.6;
  text-align:center;
  font-size:36px;
  font-weight:bold;
  font-family:system-ui;
}

.menu:hover
{
  bottom:0px;
  transform: translateY(0);
}

.menu div
{
  margin:0px;  
}

.menu div a:hover
{
  color:rgba(255,255,255,0.5);  
}

.carousel-indicators {
  z-index: 12!important;
}

.carousel-control {
  z-index: 12!important;
}

.carousel-panel {
  height: 500px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
